html, body, h1, h2, h3, h4, h5, pre {
	font-family: 'Open Sans', sans-serif;
}


/*-- class2 dan id2baru --*/
#kapiheader {
	border-top: 1px solid rgb(170, 238, 255);
	background-color: #0cf;
	border-bottom: 2px solid #00b2ff;
}
#kapiheader h1 {
	margin-top: 0;
	padding-top: 0;
}
#kapilogo small {
	display: none;
}
#kapinav {
	border-top: 1px solid #006680;
/*	padding-top: 16px; */
}
#kapifooter {
	border-top: 5px solid rgb(204, 255, 0);
	background-color: rgba(204, 255, 0, 0.5);
	margin-top: 8px;
	padding-top: 16px;
	padding-bottom: 8px;
	margin-bottom: 0;
	min-height: 90px;
	font-size: 12px;
}
.kapifootercol {
	padding-top: 12px;
	padding-bottom: 12px;
}
/*-- class2 baru sampe sini --*/

/*-- override --*/
body {
	border-top: 5px solid rgb(255, 102, 0);
	background-image: url(../images/background/pixel-weave.png);
	background-color: #eed;
}
.navbar {
	border-radius: 0;
}
.navbar, .navbar-brand {
	font-size: 1.25em;
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.navbar-default > .navbar-brand, .navbar-default .navbar-nav > li > a {
	color: rgb(255, 255, 255);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgb(255, 255, 0);
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #f90;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: rgb(255, 255, 0);
    background-color: transparent;
}
.navbar-default .navbar-brand {
    color: rgb(255, 255, 255);
}
.navbar-default {
	background-color: rgb(255, 0, 0);
	border-right: none;
	border-bottom: none;
	border-left: none;
}
.navbar-default .navbar-nav > .active > a {
	background-color: rgb(0, 204, 255);
}
.dropdown-menu {
	background-color: rgba(255, 96, 0, 0.9);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	color: #000;
	text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #000;
		text-shadow: 1px 1px 1px rgb(255, 255, 255);
	}
}
.dropdown-menu > li > a {
	color: #fff;
}
.panel {
	color: #000;
	background-color: rgba(255, 255, 255, 0.6);
}
.panel-title {
	color: #000;
	text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.panel-default > .panel-heading {
	color: #000;
	background-color: rgba(255, 153, 0, 0.9);
}
.panel-body {
	background-color: rgba(255, 255, 255, 0.2);
}
/*-- override sampe sini --*/

/*-- table --*/
th {
	text-align: center;
	font-size: 90%;
	vertical-align: top;
}
.ratakanan {
	text-align: right;
}
.ratatengah {
	text-align: center;
}
.fontkecil td {
	font-size: 75%;
}
.fontkecilxx td {
	font-size: 60%;
}

/*-- mkform --*/
.mkform-date input {
	cursor: pointer !important;
}
/*-- mkform sampe sini --*/

.table tbody>tr>td{
	padding: 3px;
}

.dataTables_paginate {

	text-align: center!important;
	margin:0px auto!important;
	float:none!important;
	left:50%;
	width:15%;

}

.form-group {
	margin-bottom: 5px;
}

.x {
	padding-top: 8px;
}

.table a{
	text-decoration: underline;
}

.btn {
	text-decoration: none!important;
}

.btn-small {
	text-decoration: none!important;
}

.container-monitoring {
	width: 100%;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.table-monitoring  {
	background-color: #FFF;

}


table.table-monitoring th {
	padding: 5px !important;
	font-size: 1.5em;
}

table.table-monitoring td {
	padding: 10px !important;
	font-size: 1.2em;
	border-bottom: 1px solid black !important;
}
